In [2]:
import numpy as np
import pandas as pd

In [52]:
def cartesian_product_transpose(*arrays):
    broadcastable = np.ix_(*arrays)
    broadcasted = np.broadcast_arrays(*broadcastable)
    rows, cols = np.prod(broadcasted[0].shape), len(broadcasted)
    dtype = np.result_type(*arrays)

    out = np.empty(rows * cols, dtype=dtype)
    start, end = 0, rows
    for a in broadcasted:
        out[start:end] = a.reshape(-1)
        start, end = end, end + rows
    return out.reshape(cols, rows).T

def generate_weight(min_weight=0.1, interval=0.1, weight_num=5, column_names=None):
    arrays = [np.arange(min_weight, 1+interval, interval)] * weight_num
    all_weight = cartesian_product_transpose(*arrays)
    all_weight_c_sum = all_weight.sum(1)
    sel_weight = all_weight[all_weight_c_sum==1]
    if column_names is None:
        column_names = [f'w{i+1}' for i in range(weight_num)]
    data = pd.DataFrame(sel_weight, columns=column_names, dtype=np.float32)
    index = data.mul(10).astype(int).astype(str).apply(lambda x: '_'.join(x), axis=1)
    data.index=index
    return data

In [57]:
weight = generate_weight(min_weight=0.1, interval=0.1, weight_num=5)

In [58]:
weight.head()

            w1   w2   w3   w4   w5
1_1_1_1_6  0.1  0.1  0.1  0.1  0.6
1_1_1_2_5  0.1  0.1  0.1  0.2  0.5
1_1_1_3_4  0.1  0.1  0.1  0.3  0.4
1_1_1_4_3  0.1  0.1  0.1  0.4  0.3
1_1_1_5_2  0.1  0.1  0.1  0.5  0.2

In [59]:
aa.dtypes

w1    float32
w2    float32
w3    float32
w4    float32
w5    float32
dtype: object